[[local|localrc]]
#################
# common settings
#################
OFFLINE=false

DEST=/opt/openstack
PIP_DOWNLOAD_CACHE=$DEST/pip_cache
SERVICE_TIMEOUT=120
#GIT_TIMEOUT=1200

#change from github to csdn
#GIT_BASE=https://code.csdn.net
GIT_BASE=https://github.com

# Enable Logging
LOGFILE=$DEST/logs/stack.sh.log
VERBOSE=True
LOG_COLOR=True
SCREEN_LOGDIR=$DEST/logs

#############
# IP Setting
#############
## public ip

#HOST_IP=192.168.56.12

# data network ip
HOST_IP=172.168.124.45

# public networking ip
SERVICE_HOST=192.168.56.11
KEYSTONE_SERVICE_HOST=192.168.56.11
NOVA_SERVICE_HOST=192.168.56.11

# management  networking ip
KEYSTONE_AUTH_HOST=10.1.2.44
KEYSTONE_AUTH_PORT=35357
DATABASE_HOST=10.1.2.44

###################
# password settings
###################
DATABASE_PASSWORD=admin
ADMIN_PASSWORD=admin
SERVICE_PASSWORD=admin
SERVICE_TOKEN=admin
RABBIT_PASSWORD=admin

####################
# branching settings
####################
# using icehouse rc1
NOVA_BRANCH=milestone-proposed
KEYSTONE_BRANCH=milestone-proposed
GLANCE_BRANCH=milestone-proposed
NEUTRON_BRANCH=milestone-proposed
HORIZON_BRANCH=milestone-proposed
IRONIC_BRANCH=milestone-proposed
CEILOMETER_BRANCH=milestone-proposed

# Pre-requisite
ENABLED_SERVICES=-rabbit,-mysql,-key,-glance

# Neutron
#ENABLED_SERVICES+=,q-svc,q-agt,q-dhcp,q-l3,q-meta,neutron
disable_service n-net

## common services
enable_service neutron
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta

## plugin services
enable_service q-lbaas
#enable_service q-vpn
enable_service q-metering
enable_service q-fwaas


## Neutron Provider Network Configurations
##############
# openvswitch
##############
# GRE Tunnelling
ENABLE_TENANT_TUNNELS=True
TENANT_TUNNEL_RANGES=${TENANT_TUNNEL_RANGE:-1:1000}
OVS_PHYSICAL_BRIDGE=${OVS_PHYSICAL_BRIDGE:-br-eth1}

# VLAN settings
#ENABLE_TENANT_VLANS=${ENABLE_TENANT_VLANS:-False}
#TENANT_VLAN_RANGE=${TENANT_VLAN_RANGE:1000:1999}
#OVS_PHYSICAL_BRIDGE=${OVS_PHYSICAL_BRIDGE:-br-eth1}
#PHYSICAL_NETWORK=${PHYSICAL_NETWORK:-}

##############
# linux bridge
##############
## usnig linux bridge
#ENABLE_TENANT_VLANS=${ENABLE_TENANT_VLANS:-False}
#TENANT_VLAN_RANGE=${TENANT_VLAN_RANGE:1000:1999}
#LB_PHYSICAL_INTERFACE=${LB_PHYSICAL_INTERFACE:-eth1}


# rabbit host
RABBIT_HOST=10.1.2.44
RABBIT_USER=guest
RABBIT_PASSWORD=admin

########################
# config neutron plugin
########################
Q_PLUGIN=openvswitch
Q_HOST=$SERVICE_HOST
Q_PORT=9696
Q_ADMIN_USERNAME=${Q_ADMIN_USERNAME:-neutron}
# Default auth strategy
Q_AUTH_STRATEGY=${Q_AUTH_STRATEGY:-keystone}
# Use namespace or not
Q_USE_NAMESPACE=True

Q_USE_ROOTWRAP=${Q_USE_ROOTWRAP:-True}
# Meta data IP
Q_META_DATA_IP=${Q_META_DATA_IP:-$SERVICE_HOST}
# Allow Overlapping IP among subnets
Q_ALLOW_OVERLAPPING_IP=${Q_ALLOW_OVERLAPPING_IP:-True}
# Use neutron-debug command
Q_USE_DEBUG_COMMAND=${Q_USE_DEBUG_COMMAND:-False}

Q_ROUTER_NAME=${Q_ROUTER_NAME:-myrouter}

Q_L3_ENABLED=True
# L3 routers exist per tenant
#Q_L3_ROUTER_PER_TENANT=${Q_L3_ROUTER_PER_TENANT:-True}
Q_L3_ROUTER_PER_TENANT=True

